Repository TomDakan/LiveSTT: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, check-adr-in-mkdocs

mypy:
  name: mypy
  entry: uv run scripts/type_check.py
  language: system
  pass_filenames: false

check-adr-in-mkdocs:
  name: Check ADRs are in mkdocs.yml
  entry: python scripts/check-adr-in-mkdocs.py
  language: system
  pass_filenames: false

build: migrate to uv workspace and just task runner
  pytest.ini
  ruff.toml
Due: none

refactor: adopt standard src layout and shared configs
  services/audio-classifier/pyproject.toml
  services/audio-classifier/src/audio_classifier/__init__.py
  services/audio-classifier/src/audio_classifier/main.py
  services/audio-producer/tests/__init__.py
  services/audio-producer/tests/test_audioproducer.py
  services/audio-producer/tests/test_audiosource.py
  services/data-sweeper/pyproject.toml
  services/data-sweeper/src/data_sweeper/__init__.py
  services/data-sweeper/src/data_sweeper/main.py
  services/health-watchdog/pyproject.toml
  services/health-watchdog/src/health_watchdog/__init__.py
  services/health-watchdog/src/health_watchdog/main.py
  services/identifier/pyproject.toml
  services/identifier/src/identifier/__init__.py
  services/identifier/src/identifier/main.py
Due: mypy

feat: migrate stt-provider and api-gateway to NATS
  services/api-gateway/pyproject.toml
  services/api-gateway/src/api_gateway/__init__.py
  services/api-gateway/src/api_gateway/main.py
  services/api-gateway/src/main.py
  services/stt-provider/pyproject.toml
  services/stt-provider/src/stt_provider/__init__.py
  services/stt-provider/src/stt_provider/main.py
Due: mypy

refactor: remove obsolete broker service
  services/broker/Dockerfile
  services/broker/pyproject.toml
  services/broker/src/main.py
Due: mypy

chore: update documentation and scripts
  scripts/new_adr.py
Due: mypy

test(audio-producer): add integration test for NATS publishing
  services/audio-producer/tests/test_integration.py
Due: mypy

feat(stt-provider): implement deepgram stt service with nats
  docs/implementation_guides/04_stt_provider.md
  libs/messaging/pyproject.toml
  libs/messaging/src/messaging/nats.py
  libs/messaging/src/messaging/py.typed
  pyproject.toml
  services/audio-producer/pyproject.toml
  services/audio-producer/src/audio_producer/interfaces.py
  services/audio-producer/src/audio_producer/main.py
  services/audio-producer/tests/mocks.py
  services/audio-producer/tests/test_audioproducer.py
  services/stt-provider/pyproject.toml
  services/stt-provider/src/stt_provider/deepgram_adapter.py
  services/stt-provider/src/stt_provider/interfaces.py
  services/stt-provider/src/stt_provider/main.py
  services/stt-provider/src/stt_provider/service.py
  services/stt-provider/tests/mocks.py
  services/stt-provider/tests/test_service.py
  test_output.txt
  type_check_output.txt
  type_check_output_2.txt
  type_check_output_3.txt
Due: mypy

refactor(api-gateway): migrate to shared messaging lib and dependency injection
  services/api-gateway/pyproject.toml
  services/api-gateway/src/api_gateway/main.py
  services/api-gateway/tests/test_main.py
  type_check_gateway.txt
  type_check_gateway_2.txt
Due: mypy

fix(api-gateway): use uvicorn directly and fix local execution
  justfile
  services/api-gateway/src/api_gateway/main.py
Due: mypy

fix(stt-provider): run start_listening in background task to prevent blocking
  services/stt-provider/src/stt_provider/deepgram_adapter.py
Due: mypy

build(docker): enable unbuffered logging for audio-producer and stt-provider
  services/audio-producer/Dockerfile
  services/stt-provider/DockerFile
Due: none

test(integration): add E2E tests for full audio pipeline
  tests/integration/README.md
  tests/integration/test_e2e.py
  tests/integration/test_e2e_container.py
Due: mypy

feat(audio-producer): add file-based audio source with looping support
  services/audio-producer/src/audio_producer/audiosource.py
  services/audio-producer/src/audio_producer/main.py
Due: mypy

chore(docker-compose): configure audio-producer for E2E testing
  docker-compose.yml
Due: none

fix(justfile): correct syntax error in start service command
  justfile
  services/stt-provider/src/stt_provider/main.py
Due: mypy

build(deps): add websockets and nats-py to dev dependencies
  pyproject.toml
  services/api-gateway/DockerFile
Due: none

test(integration): add service-level integration tests
  services/api-gateway/tests/test_integration.py
  services/audio-producer/tests/test_integration.py
Due: mypy

docs(test_e2e.py): added a todo comment indicating that the local, non-containerized, integration test is currently not working
  tests/integration/test_e2e.py
Due: mypy

chore: Remove temporary type check and test output files.
  test_output.txt
  type_check_gateway.txt
  type_check_gateway_2.txt
  type_check_output.txt
  type_check_output_2.txt
  type_check_output_3.txt
Due: none

docs: replace hard-coded implementations with mkdocstrings auto-documentation
  docs/implementation_guides/04_stt_provider.md
  tests/integration/README.md
Due: none

feat(docker): add cross-platform build infrastructure with .docker-context pattern
  .dockerignore
  .gitignore
  .pre-commit-config.yaml
  Dockerfile
  scripts/generate_dockerignore.py
  scripts/scaffold_context.py
  services/audio-producer/Dockerfile
  task.md
  tests/test_init.py
  tests/test_project_structure.py
  tests/test_settings.py
Due: mypy

docs: add branching strategy and dependency workflow documentation
  CONTRIBUTING.md
  GEMINI.md
  docs/60_ops/cicd.md
  docs/implementation_guides/00_workflow.md
Due: none

fix(test): fix Windows uv canonicalization error and pytest configuration
  justfile
  pytest.ini
  services/api-gateway/tests/test_integration.py
  services/audio-producer/tests/test_integration.py
  tests/integration/test_e2e_container.py
Due: mypy

chore: add uv.lock for reproducible builds
  uv.lock
Due: none

ci: update bump-version workflow to run only after QA passes
  .github/workflows/bump-version.yaml
Due: none

refactor: reduce complexity and add type annotations with tests
  scripts/scaffold_context.py
  services/audio-producer/src/audio_producer/audiosource.py
  tests/test_scaffold_context.py
Due: mypy

fix: resolve type checking errors
  scripts/type_check.py
  services/api-gateway/src/api_gateway/main.py
  services/audio-producer/src/audio_producer/audiosource.py
  services/audio-producer/tests/test_audiosource.py
Due: mypy

fix: pre-commit hook compatibility
  .secrets.baseline
  readthedocs.yaml
  scripts/check-adr-in-mkdocs.py
Due: mypy

chore: resolve bandit security warnings and update pre-commit config
  .pre-commit-config.yaml
  bootstrap.py
  mkdocs.yml
  prepare-commit-msg.py
  pyproject.toml
  scripts/type_check.py
  services/api-gateway/src/api_gateway/main.py
  services/audio-producer/tests/test_audiosource.py
Due: mypy, check-adr-in-mkdocs

feat(cicd): implement secure build process and update docs
  .dockerignore
  .github/workflows/deploy-docker.yaml
  CONTRIBUTING.md
  docs/60_ops/cicd.md
  justfile
  scripts/generate_dockerignore.py
Due: mypy

feat(cicd): added basedpyright as a dev dependence for additional type checking
  pyproject.toml
  uv.lock
Due: none

cicd(github): corrected safety cli configuration to run as a github action. Added a new just recipe that excludes safetycli
  .github/workflows/main.yaml
  justfile
Due: none

feat(cicd): update justfile to run tools with uv run python -m to resolve known windows issue with uv and shims
  justfile
Due: none

feat(pre-commit): added pre-commit as a dev dependency to enforce qa checking on commits
  pyproject.toml
  uv.lock
Due: none

fix(cicd): split just qa so that we have a recipe that doesn't run safetycli. Updated just to run safety scan instead of safety check, which is deprecated
  .safety-project.ini
  justfile
  pyproject.toml
  uv.lock
Due: none

feat(cicd): updated main.yaml github workflow to just just qa-github
  .github/workflows/main.yaml
Due: none

fix(cicd): added safety_api_key environment variable to main github workflow
  .github/workflows/main.yaml
  justfile
Due: none

fix(cicd): add system dependency for alsaaudio
  .github/workflows/main.yaml
Due: none

fix(cicd): reverted just qa in main.yaml
  .github/workflows/main.yaml
  GEMINI-TASKS.md
  TODO.md
Due: none

Path conditions:
  mypy: any of: \.py$
  check-adr-in-mkdocs: any of: ^(docs/20_architecture/adrs/.*\.md|mkdocs\.yml)$
