Repository TomDakan/LiveSTT: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, check-adr-in-mkdocs

.pre-commit-config.yaml:

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v6.0.0 #updated 2025-10-20
      hooks:
          - id: trailing-whitespace
          - id: end-of-file-fixer
          - id: check-yaml
          - id: check-added-large-files

    - repo: https://github.com/commitizen-tools/commitizen
      rev: v3.29.0 # Check for the latest version
      hooks:
          - id: commitizen
            stages: [commit-msg]

    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.14.7 #updated 2025-12-03
      hooks:
          - id: ruff
            args: [--fix]
          - id: ruff-format

    - repo: local
      hooks:
          - id: mypy
            name: mypy
            entry: uv run scripts/type_check.py
            language: system
            types: [python]
            pass_filenames: false

    - repo: https://github.com/PyCQA/bandit
      rev: 1.8.6 #updated 2025-10-20
      hooks:
          - id: bandit
            args: ["-c", "pyproject.toml"]
            exclude: tests/|services/.*/tests/

    - repo: https://github.com/Yelp/detect-secrets
      rev: v1.5.0 # Or the latest version
      hooks:
          - id: detect-secrets
            args: ["--baseline", ".secrets.baseline"]
            exclude: .*/tests/.* # Exclude tests from secret scanning

    - repo: local
      hooks:
          - id: detect-secrets-baseline
            name: Update detect-secrets baseline
            entry: detect-secrets scan --baseline .secrets.baseline
            language: system
            pass_filenames: false
            stages: [manual] # Only run when manually invoked

          - id: check-adr-in-mkdocs
            name: Check ADRs are in mkdocs.yml
            entry: python scripts/check-adr-in-mkdocs.py
            language: system
            pass_filenames: false
            files: ^(docs/20_architecture/adrs/.*\.md|mkdocs\.yml)$

fix(lint): resolve pre-existing ruff errors across identifier and stubs
  services/audio-producer/src/audio_producer/main.py
  services/health-watchdog/tests/test_health_watchdog.py
  services/identifier/src/identifier/main.py
  services/identifier/src/identifier/store.py
  services/identifier/tests/test_store.py
  tests/integration/test_e2e_container.py
Due: mypy

feat: Update ROADMAP.md with new features for session management and viewer UX improvements
  ROADMAP.md
  docs/20_architecture/adrs/0015-session-lifecycle.md
  docs/20_architecture/design_review_2026_03.md
  docs/documentation-review-prompt.md
  docs/next-work-prompt.md
Due: check-adr-in-mkdocs

fix(identifier): use bare type: ignore for lancedb/pyarrow imports
  services/identifier/src/identifier/store.py
Due: mypy

fix(ops): add restart policies, remove NATS host port exposure
  docker-compose.yml
  justfile
Due: none

0.9.0
  libs/messaging/pyproject.toml
  pyproject.toml
  services/api-gateway/pyproject.toml
  services/audio-classifier/pyproject.toml
  services/audio-producer/pyproject.toml
  services/data-sweeper/pyproject.toml
  services/health-watchdog/pyproject.toml
  services/identifier/pyproject.toml
  services/identity-manager/pyproject.toml
  services/stt-provider/pyproject.toml
Due: none

docs: mark pre-4.5 hardening items complete in roadmap and design review
  ROADMAP.md
  docs/20_architecture/design_review_2026_03.md
Due: none

fix(stt-provider): fix shutdown hang and detect audio gaps (HIGH-3, HIGH-1)
  services/stt-provider/src/stt_provider/main.py
  services/stt-provider/tests/test_stt_error_handling.py
Due: mypy

fix(stt-provider): deepgram error events now trigger reconnect (LOW-2)
  services/stt-provider/src/stt_provider/deepgram_adapter.py
Due: mypy

fix(identity-manager): segregate identity events by source pool (HIGH-5)
  services/identity-manager/src/identity_manager/main.py
  services/identity-manager/tests/test_identity_manager.py
Due: mypy

fix: resilience quick fixes (HIGH-6, MEDIUM-1/2/3/7, LOW-1)
  libs/messaging/src/messaging/nats.py
  libs/messaging/src/messaging/service.py
  libs/messaging/src/messaging/streams.py
  services/api-gateway/src/api_gateway/main.py
  services/audio-producer/src/audio_producer/main.py
Due: mypy

fix(api-gateway): bundle tailwind css as static build artifact (MEDIUM-8)
  services/api-gateway/Dockerfile
  services/api-gateway/src/api_gateway/static/index.html
Due: none

docs: mark batch 2 design review findings resolved
  docs/20_architecture/design_review_2026_03.md
  docs/next-work-prompt.md
  uv.lock
Due: none

0.9.1
  libs/messaging/pyproject.toml
  pyproject.toml
  services/api-gateway/pyproject.toml
  services/audio-classifier/pyproject.toml
  services/audio-producer/pyproject.toml
  services/data-sweeper/pyproject.toml
  services/health-watchdog/pyproject.toml
  services/identifier/pyproject.toml
  services/identity-manager/pyproject.toml
  services/stt-provider/pyproject.toml
Due: none

docs(roadmap): mark Milestone 4.5 core items complete
  ROADMAP.md
Due: none

feat(compose): add ADMIN_TOKEN env var to api-gateway service (M4.5 item 7)
  docker-compose.yml
Due: none

feat(ui): complete Milestone 4.5 Viewer UX + design review cleanup
  ROADMAP.md
  docker-compose.yml
  docs/20_architecture/design_review_2026_03.md
  docs/60_ops/deployment_checklist.md
  docs/next-work-prompt.md
  libs/messaging/src/messaging/streams.py
  services/api-gateway/Dockerfile
  services/api-gateway/pyproject.toml
  services/api-gateway/src/api_gateway/main.py
  services/api-gateway/src/api_gateway/static/display.html
  services/api-gateway/src/api_gateway/static/index.html
  services/api-gateway/src/api_gateway/static/shared.js
  services/audio-producer/src/audio_producer/main.py
  services/stt-provider/src/stt_provider/main.py
  uv.lock
Due: mypy

feat(api-gateway): add session control endpoints and real-time status broadcasts (M4.5 item 3)
  services/api-gateway/src/api_gateway/main.py
Due: mypy

feat(audio-producer): replace AUTO_SESSION hack with full session state machine (M4.5 item 2)
  services/audio-producer/src/audio_producer/main.py
Due: mypy

feat(streams): add SESSION_STREAM config and SESSION_KV_BUCKET constant (M4.5 item 1)
  libs/messaging/src/messaging/streams.py
Due: mypy

feat(justfile): add up-dev recipe for WAV-based full-stack dev mode
  justfile
Due: none

feat(identifier): handle EOS marker to flush partial audio buffers (M4.5 item 5)
  services/identifier/src/identifier/main.py
Due: mypy

test: add session state machine and api-gateway session endpoint tests (M4.5 item 8)
  services/api-gateway/tests/test_session_endpoints.py
  services/audio-producer/tests/test_audioproducer.py
  services/audio-producer/tests/test_session_state_machine.py
Due: mypy

feat(stt-provider): add EOS handling and Deepgram connection status events (M4.5 item 4)
  services/stt-provider/src/stt_provider/main.py
Due: mypy

feat(ui): add session status bar, start recording form, and three-state STT indicator (M4.5 item 6)
  services/api-gateway/src/api_gateway/static/index.html
Due: none

feat(api-gateway,system-manager): add scheduled sessions and transcript persistence (M4.5/M4.75)
  ROADMAP.md
  docker-compose.yml
  docs/60_ops/deployment_checklist.md
  pyproject.toml
  services/api-gateway/Dockerfile
  services/api-gateway/pyproject.toml
  services/api-gateway/src/api_gateway/db.py
  services/api-gateway/src/api_gateway/export.py
  services/api-gateway/src/api_gateway/main.py
  services/api-gateway/src/api_gateway/static/admin.html
  services/api-gateway/src/api_gateway/static/index.html
  services/api-gateway/tests/test_api_error_handling.py
  services/data-sweeper/src/data_sweeper/main.py
  services/stt-provider/src/stt_provider/main.py
  services/system-manager/Dockerfile
  services/system-manager/pyproject.toml
  services/system-manager/src/system_manager/__init__.py
  services/system-manager/src/system_manager/main.py
  services/system-manager/tests/test_system_manager.py
  uv.lock
Due: mypy

fix(stt-provider): set mock nc in tests to fix _drain_events assertion
  services/stt-provider/tests/test_stt_error_handling.py
  services/stt-provider/tests/test_stt_provider.py
Due: mypy

fix(tests): mock DB init in lifespan test and use AsyncMock for async patch
  services/api-gateway/tests/test_api_error_handling.py
  services/system-manager/tests/test_system_manager.py
Due: mypy

fix(tests): ensure stream report triggers on CI with low monotonic clock
  services/system-manager/tests/test_system_manager.py
Due: mypy

fix(bandit): suppress B110 on intentional KV lookup try/except/pass
  services/api-gateway/src/api_gateway/main.py
  services/audio-producer/src/audio_producer/main.py
Due: mypy

Feat/session/milestone 4.5 (#11)
  ROADMAP.md
  docker-compose.yml
  docs/20_architecture/design_review_2026_03.md
  docs/60_ops/deployment_checklist.md
  docs/next-work-prompt.md
  justfile
  libs/messaging/src/messaging/streams.py
  pyproject.toml
  services/api-gateway/Dockerfile
  services/api-gateway/pyproject.toml
  services/api-gateway/src/api_gateway/db.py
  services/api-gateway/src/api_gateway/export.py
  services/api-gateway/src/api_gateway/main.py
  services/api-gateway/src/api_gateway/static/admin.html
  services/api-gateway/src/api_gateway/static/display.html
  services/api-gateway/src/api_gateway/static/index.html
  services/api-gateway/src/api_gateway/static/shared.js
  services/api-gateway/tests/test_api_error_handling.py
  services/api-gateway/tests/test_session_endpoints.py
  services/audio-producer/src/audio_producer/main.py
  services/audio-producer/tests/test_audioproducer.py
  services/audio-producer/tests/test_session_state_machine.py
  services/data-sweeper/src/data_sweeper/main.py
  services/identifier/src/identifier/main.py
  services/stt-provider/src/stt_provider/main.py
  services/stt-provider/tests/test_stt_error_handling.py
  services/stt-provider/tests/test_stt_provider.py
  services/system-manager/Dockerfile
  services/system-manager/pyproject.toml
  services/system-manager/src/system_manager/__init__.py
  services/system-manager/src/system_manager/main.py
  services/system-manager/tests/test_system_manager.py
  uv.lock
Due: mypy

0.10.0
  libs/messaging/pyproject.toml
  pyproject.toml
  services/api-gateway/pyproject.toml
  services/audio-classifier/pyproject.toml
  services/audio-producer/pyproject.toml
  services/health-watchdog/pyproject.toml
  services/identifier/pyproject.toml
  services/identity-manager/pyproject.toml
  services/stt-provider/pyproject.toml
  services/system-manager/pyproject.toml
Due: none

feat(api-gateway): add admin authentication, system status, and NatsLogHandler (M6.5)
  docs/20_architecture/adrs/0016-admin-authentication.md
  docs/60_ops/deployment_checklist.md
  libs/messaging/src/messaging/service.py
  services/api-gateway/pyproject.toml
  services/api-gateway/src/api_gateway/auth.py
  services/api-gateway/src/api_gateway/main.py
  services/api-gateway/src/api_gateway/static/admin.html
  services/api-gateway/src/api_gateway/status.py
  services/api-gateway/tests/test_auth_and_status.py
  services/api-gateway/tests/test_session_endpoints.py
  uv.lock
Due: mypy, check-adr-in-mkdocs

feat(api-gateway): complete Milestone 6.5 admin UI, auth, status, logs, and viewer UX
  ROADMAP.md
  docker-compose.yml
  libs/messaging/src/messaging/service.py
  services/api-gateway/src/api_gateway/main.py
  services/api-gateway/src/api_gateway/static/admin.html
  services/api-gateway/src/api_gateway/static/display.html
  services/api-gateway/src/api_gateway/static/index.html
  services/api-gateway/src/api_gateway/static/shared.js
  services/api-gateway/src/api_gateway/status.py
  services/api-gateway/tests/test_admin_logs_and_speakers.py
  services/api-gateway/tests/test_auth_and_status.py
Due: mypy

fix: idle Deepgram reconnect loop, orphaned session cleanup, interrupted duration display
  services/api-gateway/src/api_gateway/main.py
  services/api-gateway/src/api_gateway/static/admin.html
  services/stt-provider/src/stt_provider/main.py
  services/stt-provider/tests/test_stt_error_handling.py
Due: mypy

fix: extract _wait_for_audio to reduce _run_lane complexity
  services/stt-provider/src/stt_provider/main.py
Due: mypy

feat(admin): Milestone 6.5 — Admin UI, authentication, and operational tooling (#12)
  ROADMAP.md
  docker-compose.yml
  docs/20_architecture/adrs/0016-admin-authentication.md
  docs/60_ops/deployment_checklist.md
  libs/messaging/src/messaging/service.py
  services/api-gateway/pyproject.toml
  services/api-gateway/src/api_gateway/auth.py
  services/api-gateway/src/api_gateway/main.py
  services/api-gateway/src/api_gateway/static/admin.html
  services/api-gateway/src/api_gateway/static/display.html
  services/api-gateway/src/api_gateway/static/index.html
  services/api-gateway/src/api_gateway/static/shared.js
  services/api-gateway/src/api_gateway/status.py
  services/api-gateway/tests/test_admin_logs_and_speakers.py
  services/api-gateway/tests/test_auth_and_status.py
  services/api-gateway/tests/test_session_endpoints.py
  services/stt-provider/src/stt_provider/main.py
  services/stt-provider/tests/test_stt_error_handling.py
  uv.lock
Due: mypy, check-adr-in-mkdocs

0.11.0
  libs/messaging/pyproject.toml
  pyproject.toml
  services/api-gateway/pyproject.toml
  services/audio-classifier/pyproject.toml
  services/audio-producer/pyproject.toml
  services/health-watchdog/pyproject.toml
  services/identifier/pyproject.toml
  services/identity-manager/pyproject.toml
  services/stt-provider/pyproject.toml
  services/system-manager/pyproject.toml
Due: none

fix(stt-provider): single sequential Deepgram connection per session
  services/stt-provider/src/stt_provider/main.py
  services/stt-provider/tests/test_stt_error_handling.py
  services/stt-provider/tests/test_stt_provider.py
Due: mypy

fix(stt-provider): skip stale EOS from previous sessions
  services/stt-provider/src/stt_provider/main.py
Due: mypy

fix(stt-provider): accurate backfill/live source tags via Deepgram Finalize
  services/stt-provider/src/stt_provider/deepgram_adapter.py
  services/stt-provider/src/stt_provider/interfaces.py
  services/stt-provider/src/stt_provider/main.py
  services/stt-provider/tests/mock_transcriber.py
Due: mypy
