Repository TomDakan/LiveSTT: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, check-adr-in-mkdocs

mypy:
  name: mypy
  entry: uv run scripts/type_check.py
  language: system
  pass_filenames: false

check-adr-in-mkdocs:
  name: Check ADRs are in mkdocs.yml
  entry: python scripts/check-adr-in-mkdocs.py
  language: system
  pass_filenames: false

docs(roadmap): add session start feedback UX item
  ROADMAP.md
Due: none

Fix/stt/sequential deepgram (#13)
  ROADMAP.md
  services/stt-provider/src/stt_provider/deepgram_adapter.py
  services/stt-provider/src/stt_provider/interfaces.py
  services/stt-provider/src/stt_provider/main.py
  services/stt-provider/tests/mock_transcriber.py
  services/stt-provider/tests/test_stt_error_handling.py
  services/stt-provider/tests/test_stt_provider.py
Due: mypy

0.11.1
  libs/messaging/pyproject.toml
  pyproject.toml
  services/api-gateway/pyproject.toml
  services/audio-classifier/pyproject.toml
  services/audio-producer/pyproject.toml
  services/health-watchdog/pyproject.toml
  services/identifier/pyproject.toml
  services/identity-manager/pyproject.toml
  services/stt-provider/pyproject.toml
  services/system-manager/pyproject.toml
Due: none

chore: add Claude Code agent definitions
  .claude/agent-memory/code-implementer/MEMORY.md
  .claude/agent-memory/code-implementer/feedback_no_coauthored_commits.md
  .claude/agents/code-implementer.md
  .claude/agents/code-reviewer.md
  .claude/agents/software-architect.md
  .claude/settings.local.json
Due: none

chore: add Claude Code agent definitions (#14)
  .claude/agent-memory/code-implementer/MEMORY.md
  .claude/agent-memory/code-implementer/feedback_no_coauthored_commits.md
  .claude/agents/code-implementer.md
  .claude/agents/code-reviewer.md
  .claude/agents/software-architect.md
  .claude/settings.local.json
Due: none

feat(ops): Docker healthchecks, named volumes, and compose hardening (M7.5 Batch 1)
  ROADMAP.md
  docker-compose.yml
  docs/20_architecture/adrs/0017-restart-policy-for-appliance-deployment.md
  docs/60_ops/deployment_checklist.md
  justfile
  libs/messaging/src/messaging/service.py
  uv.lock
Due: mypy, check-adr-in-mkdocs

fix(ops): flush NATS log publishes and add log persistence roadmap items
  ROADMAP.md
  libs/messaging/src/messaging/service.py
Due: mypy

feat(ops): Docker healthchecks + compose hardening (M7.5 Batch 1) (#15)
  ROADMAP.md
  docker-compose.yml
  docs/20_architecture/adrs/0017-restart-policy-for-appliance-deployment.md
  docs/60_ops/deployment_checklist.md
  justfile
  libs/messaging/src/messaging/service.py
  uv.lock
Due: mypy, check-adr-in-mkdocs

0.12.0
  libs/messaging/pyproject.toml
  pyproject.toml
  services/api-gateway/pyproject.toml
  services/audio-classifier/pyproject.toml
  services/audio-producer/pyproject.toml
  services/health-watchdog/pyproject.toml
  services/identifier/pyproject.toml
  services/identity-manager/pyproject.toml
  services/stt-provider/pyproject.toml
  services/system-manager/pyproject.toml
Due: none

feat(ops): add just status, just nats-streams, and dev compose overlay (M7.5 Batch 2)
  ROADMAP.md
  docker-compose.dev.yml
  docker-compose.yml
  justfile
  scripts/nats_streams.py
  scripts/status.py
Due: mypy

feat(ops): add just status, just nats-streams, and dev compose overlay (M7.5 Batch 2) (#16)
  ROADMAP.md
  docker-compose.dev.yml
  docker-compose.yml
  justfile
  scripts/nats_streams.py
  scripts/status.py
Due: mypy

0.13.0
  libs/messaging/pyproject.toml
  pyproject.toml
  services/api-gateway/pyproject.toml
  services/audio-classifier/pyproject.toml
  services/audio-producer/pyproject.toml
  services/health-watchdog/pyproject.toml
  services/identifier/pyproject.toml
  services/identity-manager/pyproject.toml
  services/stt-provider/pyproject.toml
  services/system-manager/pyproject.toml
Due: none

feat(admin): backup & restore endpoints with admin UI (M7.5 Batch 3)
  ROADMAP.md
  services/api-gateway/src/api_gateway/main.py
  services/api-gateway/src/api_gateway/static/admin.html
Due: mypy

feat(admin): backup & restore endpoints with admin UI (M7.5 Batch 3) (#17)
  ROADMAP.md
  services/api-gateway/src/api_gateway/main.py
  services/api-gateway/src/api_gateway/static/admin.html
Due: mypy

0.14.0
  libs/messaging/pyproject.toml
  pyproject.toml
  services/api-gateway/pyproject.toml
  services/audio-classifier/pyproject.toml
  services/audio-producer/pyproject.toml
  services/health-watchdog/pyproject.toml
  services/identifier/pyproject.toml
  services/identity-manager/pyproject.toml
  services/stt-provider/pyproject.toml
  services/system-manager/pyproject.toml
Due: none

feat(admin): log persistence, ring buffer replay, and export endpoint (M7.5 Batch 4)
  ROADMAP.md
  services/api-gateway/src/api_gateway/db.py
  services/api-gateway/src/api_gateway/main.py
  services/api-gateway/src/api_gateway/static/admin.html
  services/api-gateway/tests/test_admin_logs_and_speakers.py
Due: mypy

fix(admin): use authFetch for log export endpoint
  services/api-gateway/src/api_gateway/static/admin.html
Due: none

fix(admin): export logs from client-side filtered entries
  services/api-gateway/src/api_gateway/static/admin.html
Due: none

feat(admin): log persistence, ring buffer replay, and export (M7.5 Batch 4) (#18)
  ROADMAP.md
  services/api-gateway/src/api_gateway/db.py
  services/api-gateway/src/api_gateway/main.py
  services/api-gateway/src/api_gateway/static/admin.html
  services/api-gateway/tests/test_admin_logs_and_speakers.py
Due: mypy

0.15.0
  libs/messaging/pyproject.toml
  pyproject.toml
  services/api-gateway/pyproject.toml
  services/audio-classifier/pyproject.toml
  services/audio-producer/pyproject.toml
  services/health-watchdog/pyproject.toml
  services/identifier/pyproject.toml
  services/identity-manager/pyproject.toml
  services/stt-provider/pyproject.toml
  services/system-manager/pyproject.toml
Due: none

feat(ops): service management, first-run setup, and Docker socket control (M7.5 Batch 6)
  ROADMAP.md
  docker-compose.yml
  services/api-gateway/src/api_gateway/auth.py
  services/api-gateway/src/api_gateway/db.py
  services/api-gateway/src/api_gateway/main.py
  services/api-gateway/src/api_gateway/static/admin.html
  services/api-gateway/src/api_gateway/static/index.html
  services/api-gateway/tests/test_admin_logs_and_speakers.py
  services/api-gateway/tests/test_auth_and_status.py
  services/api-gateway/tests/test_session_endpoints.py
  services/system-manager/pyproject.toml
  services/system-manager/src/system_manager/containers.py
  services/system-manager/src/system_manager/main.py
  uv.lock
Due: mypy

fix(admin): show immediate feedback on service action buttons
  services/api-gateway/src/api_gateway/static/admin.html
Due: none

fix(admin): restore checkSetup init flow lost during stash recovery
  services/api-gateway/src/api_gateway/static/admin.html
Due: none

fix(admin): restore checkSetup and submitSetup functions
  services/api-gateway/src/api_gateway/static/admin.html
Due: none

fix(admin): setup overlay display bug and login password clearing race
  services/api-gateway/src/api_gateway/static/admin.html
Due: none

docs(roadmap): add post-v8.0 admin UI enhancements
  ROADMAP.md
Due: none

feat(ops): service management, first-run setup, and Docker socket control (M7.5 Batch 6) (#19)
  ROADMAP.md
  docker-compose.yml
  services/api-gateway/src/api_gateway/auth.py
  services/api-gateway/src/api_gateway/db.py
  services/api-gateway/src/api_gateway/main.py
  services/api-gateway/src/api_gateway/static/admin.html
  services/api-gateway/src/api_gateway/static/index.html
  services/api-gateway/tests/test_admin_logs_and_speakers.py
  services/api-gateway/tests/test_auth_and_status.py
  services/api-gateway/tests/test_session_endpoints.py
  services/system-manager/pyproject.toml
  services/system-manager/src/system_manager/containers.py
  services/system-manager/src/system_manager/main.py
  uv.lock
Due: mypy

0.16.0
  libs/messaging/pyproject.toml
  pyproject.toml
  services/api-gateway/pyproject.toml
  services/audio-classifier/pyproject.toml
  services/audio-producer/pyproject.toml
  services/health-watchdog/pyproject.toml
  services/identifier/pyproject.toml
  services/identity-manager/pyproject.toml
  services/stt-provider/pyproject.toml
  services/system-manager/pyproject.toml
Due: none

feat(ops): quick wins and medium-effort improvements batch
  .github/workflows/main.yaml
  ROADMAP.md
  docs/20_architecture/design_review_2026_03.md
  docs/70_legal/dpia.md
  services/api-gateway/src/api_gateway/main.py
  services/api-gateway/src/api_gateway/static/admin.html
  services/api-gateway/src/api_gateway/static/display.html
  services/api-gateway/src/api_gateway/static/index.html
  services/api-gateway/tests/test_session_endpoints.py
  services/api-gateway/tests/test_session_retention.py
  services/audio-producer/src/audio_producer/main.py
  services/audio-producer/tests/test_session_state_machine.py
  services/health-watchdog/src/health_watchdog/main.py
Due: mypy

fix(admin): session status stuck on idle, label edit UX, and lint fixes
  services/api-gateway/src/api_gateway/main.py
  services/api-gateway/src/api_gateway/static/admin.html
  services/api-gateway/src/api_gateway/static/index.html
  services/audio-producer/src/audio_producer/main.py
  services/audio-producer/tests/test_session_state_machine.py
Due: mypy

fix: ruff formatting and mypy type annotation fixes
  services/api-gateway/src/api_gateway/main.py
  services/api-gateway/tests/test_session_endpoints.py
  services/api-gateway/tests/test_session_retention.py
Due: mypy

fix(admin): session status not transitioning from starting to recording
  services/api-gateway/src/api_gateway/static/admin.html
  services/audio-producer/src/audio_producer/main.py
  services/audio-producer/tests/test_session_state_machine.py
Due: mypy

fix(ops): session start feedback, admin refresh, and dev source mounts
  ROADMAP.md
  docker-compose.dev.yml
  services/api-gateway/src/api_gateway/main.py
  services/api-gateway/src/api_gateway/static/display.html
  services/api-gateway/src/api_gateway/static/index.html
  services/api-gateway/src/api_gateway/static/shared.js
Due: mypy

fix(api-gateway): transcript subject mismatch and session status race
  ROADMAP.md
  services/api-gateway/src/api_gateway/main.py
Due: mypy

fix(api-gateway): session status flow and transcript subject mismatch (#20)
  .github/workflows/main.yaml
  ROADMAP.md
  docker-compose.dev.yml
  docs/20_architecture/design_review_2026_03.md
  docs/70_legal/dpia.md
  services/api-gateway/src/api_gateway/main.py
  services/api-gateway/src/api_gateway/static/admin.html
  services/api-gateway/src/api_gateway/static/display.html
  services/api-gateway/src/api_gateway/static/index.html
  services/api-gateway/src/api_gateway/static/shared.js
  services/api-gateway/tests/test_session_endpoints.py
  services/api-gateway/tests/test_session_retention.py
  services/health-watchdog/src/health_watchdog/main.py
Due: mypy

0.17.0
  libs/messaging/pyproject.toml
  pyproject.toml
  services/api-gateway/pyproject.toml
  services/audio-classifier/pyproject.toml
  services/audio-producer/pyproject.toml
  services/health-watchdog/pyproject.toml
  services/identifier/pyproject.toml
  services/identity-manager/pyproject.toml
  services/stt-provider/pyproject.toml
  services/system-manager/pyproject.toml
Due: none

fix(security): harden auth, XSS, CORS, and operational issues from project review
  ROADMAP.md
  libs/messaging/src/messaging/nats.py
  libs/messaging/src/messaging/streams.py
  services/api-gateway/src/api_gateway/auth.py
  services/api-gateway/src/api_gateway/main.py
  services/api-gateway/src/api_gateway/static/admin.html
  services/audio-producer/src/audio_producer/audiosource.py
  services/audio-producer/src/audio_producer/main.py
  services/audio-producer/tests/__init__.py
  services/audio-producer/tests/test_audioproducer.py
  services/audio-producer/tests/test_audiosource.py
  services/audio-producer/tests/test_integration_audio.py
  services/audio-producer/tests/test_session_state_machine.py
  services/system-manager/src/system_manager/main.py
Due: mypy

fix: remove duplicate retention functions from merge, add roadmap items
  ROADMAP.md
  services/api-gateway/src/api_gateway/main.py
Due: mypy

fix(security): project review hardening and operational fixes (#21)
  ROADMAP.md
  libs/messaging/src/messaging/nats.py
  libs/messaging/src/messaging/streams.py
  services/api-gateway/src/api_gateway/auth.py
  services/api-gateway/src/api_gateway/main.py
  services/api-gateway/src/api_gateway/static/admin.html
  services/audio-producer/src/audio_producer/audiosource.py
  services/audio-producer/src/audio_producer/main.py
  services/audio-producer/tests/__init__.py
  services/audio-producer/tests/test_audioproducer.py
  services/audio-producer/tests/test_audiosource.py
  services/audio-producer/tests/test_integration_audio.py
  services/audio-producer/tests/test_session_state_machine.py
  services/system-manager/src/system_manager/main.py
Due: mypy

0.18.0
  libs/messaging/pyproject.toml
  pyproject.toml
  services/api-gateway/pyproject.toml
  services/audio-classifier/pyproject.toml
  services/audio-producer/pyproject.toml
  services/health-watchdog/pyproject.toml
  services/identifier/pyproject.toml
  services/identity-manager/pyproject.toml
  services/stt-provider/pyproject.toml
  services/system-manager/pyproject.toml
Due: none

Path conditions:
  mypy: any of: \.py$
  check-adr-in-mkdocs: any of: ^(docs/20_architecture/adrs/.*\.md|mkdocs\.yml)$
