Repository TomDakan/LiveSTT: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, check-adr-in-mkdocs

.pre-commit-config.yaml:

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v6.0.0 #updated 2025-10-20
      hooks:
          - id: trailing-whitespace
          - id: end-of-file-fixer
          - id: check-yaml
          - id: check-added-large-files

    - repo: https://github.com/commitizen-tools/commitizen
      rev: v3.29.0 # Check for the latest version
      hooks:
          - id: commitizen
            stages: [commit-msg]

    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.14.7 #updated 2025-12-03
      hooks:
          - id: ruff
            args: [--fix]
          - id: ruff-format

    - repo: local
      hooks:
          - id: mypy
            name: mypy
            entry: uv run scripts/type_check.py
            language: system
            types: [python]
            pass_filenames: false

    - repo: https://github.com/PyCQA/bandit
      rev: 1.8.6 #updated 2025-10-20
      hooks:
          - id: bandit
            args: ["-c", "pyproject.toml"]
            exclude: tests/|services/.*/tests/

    - repo: https://github.com/Yelp/detect-secrets
      rev: v1.5.0 # Or the latest version
      hooks:
          - id: detect-secrets
            args: ["--baseline", ".secrets.baseline"]
            exclude: .*/tests/.* # Exclude tests from secret scanning

    - repo: local
      hooks:
          - id: detect-secrets-baseline
            name: Update detect-secrets baseline
            entry: detect-secrets scan --baseline .secrets.baseline
            language: system
            pass_filenames: false
            stages: [manual] # Only run when manually invoked

          - id: check-adr-in-mkdocs
            name: Check ADRs are in mkdocs.yml
            entry: python scripts/check-adr-in-mkdocs.py
            language: system
            pass_filenames: false
            files: ^(docs/20_architecture/adrs/.*\.md|mkdocs\.yml)$

chore: finalize branch changes (bypass hooks)
  services/api-gateway/src/api_gateway/main.py
  services/stt-provider/src/stt_provider/main.py
Due: mypy

fix(qa): resolve lint and formatting issues
  services/api-gateway/src/api_gateway/main.py
  services/audio-classifier/src/audio_classifier/classifiers.py
  services/audio-classifier/src/audio_classifier/interfaces.py
  services/audio-classifier/src/audio_classifier/main.py
  services/audio-classifier/tests/conftest.py
  services/audio-classifier/tests/test_classifiers.py
  services/audio-classifier/tests/test_service.py
  services/audio-producer/src/audio_producer/audiosource.py
  services/audio-producer/src/audio_producer/main.py
  services/stt-provider/src/stt_provider/main.py
  uv.lock
Due: mypy

test(api-gateway): refactor websocket endpoint test for proper lifespan mocking
  services/api-gateway/tests/test_main.py
Due: mypy

chore: corrected pytest.ini to generate code coverage report so that code coverage upload will succeed.
  uv.lock
Due: none

refactor(audio-producer): add strict type annotations to service and tests
  services/audio-producer/tests/test_audioproducer.py
Due: mypy

chore(deps): add missing services to uv workspace sources
  pyproject.toml
Due: none

feat: implement identifier/identity-manager services and refine E2E tests for v8.0
  pyproject.toml
  services/api-gateway/tests/test_api_error_handling.py
  services/api-gateway/tests/test_main.py
  services/identifier/pyproject.toml
  services/identifier/src/identifier/main.py
  tests/integration/test_e2e.py
  uv.lock
Due: mypy

test(audio-classifier): add type annotations and improve mock assertions
  services/audio-classifier/tests/conftest.py
  services/audio-classifier/tests/test_classifiers.py
  services/audio-classifier/tests/test_service.py
Due: mypy

chore(qa): simplify bandit config and resolve all remaining security/lint failures
  justfile
  libs/messaging/src/messaging/service.py
  pyproject.toml
  services/api-gateway/src/api_gateway/main.py
  services/api-gateway/tests/test_api_error_handling.py
  services/api-gateway/tests/test_main.py
  tests/integration/test_e2e.py
Due: mypy

0.7.0
  libs/messaging/pyproject.toml
  pyproject.toml
  services/api-gateway/pyproject.toml
  services/audio-classifier/pyproject.toml
  services/audio-producer/pyproject.toml
  services/data-sweeper/pyproject.toml
  services/health-watchdog/pyproject.toml
  services/identifier/pyproject.toml
  services/identity-manager/pyproject.toml
  services/stt-provider/pyproject.toml
Due: none

chore: remove accidentally committed test_output.txt
  test_output.txt
Due: none

feat(dev): add RME Babyface Pro USB passthrough and ALSA docker config
  docker-compose.yml
Due: none

0.8.0
  libs/messaging/pyproject.toml
  pyproject.toml
  services/api-gateway/pyproject.toml
  services/audio-classifier/pyproject.toml
  services/audio-producer/pyproject.toml
  services/data-sweeper/pyproject.toml
  services/health-watchdog/pyproject.toml
  services/identifier/pyproject.toml
  services/identity-manager/pyproject.toml
  services/stt-provider/pyproject.toml
Due: none

feat(infra): add Dockerfiles for stt-provider and api-gateway, mock transcriber
  .gitignore
  CLAUDE.md
  docker-compose.file-test.yml
  justfile
  scripts/generate_dockerignore.py
  scripts/scaffold_context.py
  services/api-gateway/Dockerfile
  services/audio-classifier/DockerFile
  services/audio-classifier/Dockerfile
  services/data-sweeper/DockerFile
  services/data-sweeper/Dockerfile
  services/health-watchdog/DockerFile
  services/health-watchdog/Dockerfile
  services/identifier/DockerFile
  services/identifier/Dockerfile
  services/stt-provider/Dockerfile
  services/stt-provider/src/stt_provider/main.py
  services/stt-provider/tests/__init__.py
  services/stt-provider/tests/conftest.py
  services/stt-provider/tests/mock_transcriber.py
  services/stt-provider/tests/test_stt_error_handling.py
  services/stt-provider/tests/test_stt_provider.py
Due: mypy

feat(identity-manager): implement Time Zipper with tests
  services/identity-manager/src/identity_manager/main.py
  services/identity-manager/tests/__init__.py
  services/identity-manager/tests/test_identity_manager.py
Due: mypy

feat(audio-classifier): replace OpenVINO with Silero VAD (ONNX Runtime)
  docs/20_architecture/adrs/0000-template.md
  docs/20_architecture/adrs/0012-audio-chunk-size-standardisation.md
  docs/30_data/data_dictionary.md
  scripts/new_adr.py
  services/audio-classifier/Dockerfile
  services/audio-classifier/pyproject.toml
  services/audio-classifier/src/audio_classifier/classifiers.py
  services/audio-classifier/src/audio_classifier/main.py
  services/audio-classifier/tests/conftest.py
  services/audio-classifier/tests/test_classifiers.py
  services/audio-producer/DockerFile.mock
  services/audio-producer/src/audio_producer/audiosource.py
  services/audio-producer/src/audio_producer/main.py
  services/identity-manager/Dockerfile
  uv.lock
Due: mypy, check-adr-in-mkdocs

feat(health-watchdog,data-sweeper): implement service health monitoring and stream reporting
  services/data-sweeper/Dockerfile
  services/data-sweeper/src/data_sweeper/main.py
  services/data-sweeper/tests/__init__.py
  services/data-sweeper/tests/test_data_sweeper.py
  services/health-watchdog/Dockerfile
  services/health-watchdog/src/health_watchdog/main.py
  services/health-watchdog/tests/__init__.py
  services/health-watchdog/tests/test_health_watchdog.py
Due: mypy

feat(identifier): implement speaker identification pipeline
  services/identifier/Dockerfile
  services/identifier/pyproject.toml
  services/identifier/src/identifier/embedder.py
  services/identifier/src/identifier/interfaces.py
  services/identifier/src/identifier/main.py
  services/identifier/src/identifier/store.py
  services/identifier/tests/__init__.py
  services/identifier/tests/test_embedder.py
  services/identifier/tests/test_pipeline.py
  services/identifier/tests/test_store.py
  uv.lock
Due: mypy

docs(roadmap): update milestone status to reflect current implementation
  ROADMAP.md
Due: none

feat(stt-provider): pull consumers + Deepgram reconnect; feat(api-gateway): web UI
  docs/20_architecture/adrs/0013-stt-provider-pull-consumers-and-deepgram-reconnection.md
  services/api-gateway/pyproject.toml
  services/api-gateway/src/api_gateway/main.py
  services/api-gateway/src/api_gateway/static/index.html
  services/audio-classifier/src/audio_classifier/classifiers.py
  services/audio-classifier/src/audio_classifier/main.py
  services/audio-classifier/tests/test_classifiers.py
  services/data-sweeper/src/data_sweeper/main.py
  services/data-sweeper/tests/test_data_sweeper.py
  services/health-watchdog/src/health_watchdog/main.py
  services/identifier/src/identifier/embedder.py
  services/identifier/src/identifier/main.py
  services/identifier/src/identifier/store.py
  services/identifier/tests/test_embedder.py
  services/identifier/tests/test_pipeline.py
  services/identifier/tests/test_store.py
  services/identity-manager/src/identity_manager/main.py
  services/identity-manager/tests/test_identity_manager.py
  services/stt-provider/src/stt_provider/main.py
  services/stt-provider/tests/test_stt_error_handling.py
  services/stt-provider/tests/test_stt_provider.py
  uv.lock
Due: mypy, check-adr-in-mkdocs

feat(e2e): add just e2e recipe; fix pull-subscribe and stream retention across services
  .env.example
  ROADMAP.md
  docker-compose.yml
  justfile
  libs/messaging/src/messaging/streams.py
  services/identifier/src/identifier/main.py
  services/identifier/tests/test_pipeline.py
  services/identity-manager/src/identity_manager/main.py
  services/stt-provider/src/stt_provider/main.py
  services/stt-provider/tests/test_stt_error_handling.py
  services/stt-provider/tests/test_stt_provider.py
  tests/conftest.py
  tests/integration/test_e2e_container.py
Due: mypy

fix(e2e): wire audio-producer session, nuke bind-mount, fix timeout assertion
  justfile
  services/audio-producer/src/audio_producer/main.py
  tests/integration/test_e2e_container.py
Due: mypy

docs(roadmap): expand roadmap and update ADRs for BalenaOS, vocab, and retention
  ROADMAP.md
  docs/20_architecture/adrs/0003-multi-tier-hardware.md
  docs/20_architecture/adrs/0005-balenaos-deployment.md
  docs/20_architecture/adrs/0011-retention-policy.md
  docs/20_architecture/adrs/0014-audio-stream-limits-retention.md
  docs/60_ops/cicd.md
Due: check-adr-in-mkdocs

docs(claude): streamline CLAUDE.md — pointer-based commands/architecture, fix squash merge strategy, surface mypy footgun
  CLAUDE.md
Due: none

fix(ops): add restart policies, remove NATS host port exposure
  docker-compose.yml
  justfile
Due: none

fix(identity-manager): fix race condition and deferred ack ordering
  services/identity-manager/src/identity_manager/main.py
  services/identity-manager/tests/test_identity_manager.py
Due: mypy

fix(api-gateway): replace core NATS sub with JetStream durable pull consumer
  services/api-gateway/src/api_gateway/main.py
  services/api-gateway/src/api_gateway/static/index.html
  services/api-gateway/tests/test_api_error_handling.py
Due: mypy

fix(lint): resolve pre-existing ruff errors across identifier and stubs
  services/audio-producer/src/audio_producer/main.py
  services/health-watchdog/tests/test_health_watchdog.py
  services/identifier/src/identifier/main.py
  services/identifier/src/identifier/store.py
  services/identifier/tests/test_store.py
  tests/integration/test_e2e_container.py
Due: mypy

feat: Update ROADMAP.md with new features for session management and viewer UX improvements
  ROADMAP.md
  docs/20_architecture/adrs/0015-session-lifecycle.md
  docs/20_architecture/design_review_2026_03.md
  docs/documentation-review-prompt.md
  docs/next-work-prompt.md
Due: check-adr-in-mkdocs

fix(tests): fix pytest collection failure caused by service-level __init__.py
  services/data-sweeper/tests/__init__.py
  services/health-watchdog/tests/__init__.py
  services/identifier/tests/__init__.py
  services/identity-manager/tests/__init__.py
  services/stt-provider/tests/__init__.py
  services/stt-provider/tests/conftest.py
  services/stt-provider/tests/test_stt_error_handling.py
Due: mypy

fix(type-check): resolve mypy and basedpyright errors across services
  pyproject.toml
  services/audio-classifier/src/audio_classifier/classifiers.py
  services/identifier/src/identifier/embedder.py
  services/identifier/src/identifier/store.py
  services/identifier/tests/test_pipeline.py
  services/identity-manager/tests/test_identity_manager.py
  services/stt-provider/src/stt_provider/interfaces.py
Due: mypy

docs(standards): document new-service checklist and mypy py.typed footgun
  CLAUDE.md
  pyproject.toml
Due: none

docs(contributing): add type-check config and test dir rules to new-service checklist
  CONTRIBUTING.md
Due: none

fix(identifier): use bare type: ignore for lancedb/pyarrow imports
  services/identifier/src/identifier/store.py
Due: mypy
