Repository TomDakan/LiveSTT: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, check-adr-in-mkdocs

.pre-commit-config.yaml:

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v6.0.0 #updated 2025-10-20
      hooks:
          - id: trailing-whitespace
          - id: end-of-file-fixer
          - id: check-yaml
          - id: check-added-large-files

    - repo: https://github.com/commitizen-tools/commitizen
      rev: v3.29.0 # Check for the latest version
      hooks:
          - id: commitizen
            stages: [commit-msg]

    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.14.7 #updated 2025-12-03
      hooks:
          - id: ruff
            args: [--fix]
          - id: ruff-format

    - repo: local
      hooks:
          - id: mypy
            name: mypy
            entry: uv run scripts/type_check.py
            language: system
            types: [python]
            pass_filenames: false

    - repo: https://github.com/PyCQA/bandit
      rev: 1.8.6 #updated 2025-10-20
      hooks:
          - id: bandit
            args: ["-c", "pyproject.toml"]
            exclude: tests/|services/.*/tests/

    - repo: https://github.com/Yelp/detect-secrets
      rev: v1.5.0 # Or the latest version
      hooks:
          - id: detect-secrets
            args: ["--baseline", ".secrets.baseline"]
            exclude: .*/tests/.* # Exclude tests from secret scanning

    - repo: local
      hooks:
          - id: detect-secrets-baseline
            name: Update detect-secrets baseline
            entry: detect-secrets scan --baseline .secrets.baseline
            language: system
            pass_filenames: false
            stages: [manual] # Only run when manually invoked

          - id: check-adr-in-mkdocs
            name: Check ADRs are in mkdocs.yml
            entry: python scripts/check-adr-in-mkdocs.py
            language: system
            pass_filenames: false
            files: ^(docs/20_architecture/adrs/.*\.md|mkdocs\.yml)$

fix(cicd): updated audiosource.py to only instantiate os-specific source classes if they necessary dependencies were successfully imported
  .pre-commit-config.yaml
  services/audio-producer/src/audio_producer/audiosource.py
Due: mypy

fix(cicd): updated deploy and docs github actions to also install alsaaudio dependencies
  .github/workflows/deploy.yaml
  .github/workflows/docs.yaml
Due: none

fix(cicd): updated release.yaml to also install alsaaudio dependency
  .github/workflows/release.yaml
Due: none

chore: revert version bump and configure semantic-release
  Changelog.md
  pyproject.toml
Due: none

chore: deleted incorrect dependeabot.yml and outdated deploy.yaml
  .github/dependeabot.yml
  .github/workflows/deploy.yaml
Due: none

chore: rename Changelog.md to CHANGELOG.md
  CHANGELOG.md
  Changelog.md
Due: none

chore: commit final changelog changes
  CHANGELOG.md
Due: none

chore(docs/ToDo.md): added a ToDo.md in the docs directory for tracking tasks I need to remember to take care of related to documentation
  docs/ToDo.md
Due: none

chore: remove conflicting commitizen workflow
  .github/workflows/bump-version.yaml
Due: none

ci: trigger docs deployment on release tags only
  .github/workflows/docs.yaml
Due: none

fix(ci): remove duplicate 'on' key in docs workflow
  .github/workflows/docs.yaml
Due: none

feat: migrate to nats jetstream persistence
  docs/20_architecture/adrs/0011-retention-policy.md
  docs/30_data/data_dictionary.md
  libs/messaging/src/messaging/nats.py
  mkdocs.yml
  pyproject.toml
  services/api-gateway/src/api_gateway/main.py
  services/audio-producer/src/audio_producer/main.py
  services/audio-producer/tests/test_integration.py
  services/stt-provider/src/stt_provider/main.py
  services/stt-provider/src/stt_provider/service.py
  tests/conftest.py
  tests/integration/test_e2e.py
  tests/integration/test_e2e_container.py
  uv.lock
Due: mypy, check-adr-in-mkdocs

feat: add basedpyright to type checking script
  scripts/type_check.py
Due: mypy

fix: resolve basedpyright type errors and improve strictness
  docs/temp.md
  pyproject.toml
  scripts/type_check.py
  services/audio-producer/src/audio_producer/audiosource.py
  services/stt-provider/tests/__init__.py
  services/stt-provider/tests/test_service.py
Due: mypy

fix: resolve pytest import error and update basedpyright config
  docs/20_architecture/system_design_v8.0.md
  docs/temp.md
  pyproject.toml
  services/stt-provider/tests/__init__.py
  services/stt-provider/tests/test_service.py
Due: mypy

chore: remove unintended file system_design_v8.0.md
  docs/20_architecture/system_design_v8.0.md
Due: none

fix(cicd): correcting release.yaml to resolve issue with semantic release version bumps in the cicd pipeline
  .github/workflows/release.yaml
Due: none

fix: revert to 0.3.0 and fix semantic-release token
  CHANGELOG.md
  pyproject.toml
Due: none

docs(design): drafted system_design_v8.0.md to clarify NATS jetstream design and add documentation for pre-roll functionality
  docs/20_architecture/system_design_v8.0.md
Due: none

feat: configure semantic-release for monorepo versioning
  .github/workflows/release.yaml
  pyproject.toml
Due: none

chore: disable build_command to fix semantic-release failure
  pyproject.toml
Due: none

fix(ci): serialize release after qa and reset version to 0.4.0
  .github/workflows/release.yaml
  pyproject.toml
Due: none

1.0.0
  libs/messaging/pyproject.toml
  pyproject.toml
  services/api-gateway/pyproject.toml
  services/audio-classifier/pyproject.toml
  services/audio-producer/pyproject.toml
  services/data-sweeper/pyproject.toml
  services/health-watchdog/pyproject.toml
  services/identifier/pyproject.toml
  services/stt-provider/pyproject.toml
Due: none

fix(ci): fetch all tags in release workflow to ensure v0.4.0 is detected
  .github/workflows/release.yaml
Due: none

chore: configure semantic-release to ignore bump commit and use explicit tag format
  pyproject.toml
Due: none

fix: trigger release check
  pyproject.toml
Due: none

1.0.1
  libs/messaging/pyproject.toml
  pyproject.toml
  services/api-gateway/pyproject.toml
  services/audio-classifier/pyproject.toml
  services/audio-producer/pyproject.toml
  services/data-sweeper/pyproject.toml
  services/health-watchdog/pyproject.toml
  services/identifier/pyproject.toml
  services/stt-provider/pyproject.toml
Due: none

fix(ci): serialize release after qa and reset version to 0.4.0
  .github/workflows/release.yaml
  libs/messaging/pyproject.toml
  pyproject.toml
  services/api-gateway/pyproject.toml
  services/audio-classifier/pyproject.toml
  services/audio-producer/pyproject.toml
  services/data-sweeper/pyproject.toml
  services/health-watchdog/pyproject.toml
  services/identifier/pyproject.toml
  services/stt-provider/pyproject.toml
Due: none

chore: reset version numbers to 0.4.0
  libs/messaging/pyproject.toml
  pyproject.toml
  services/api-gateway/pyproject.toml
  services/audio-classifier/pyproject.toml
  services/audio-producer/pyproject.toml
  services/data-sweeper/pyproject.toml
  services/health-watchdog/pyproject.toml
  services/identifier/pyproject.toml
  services/stt-provider/pyproject.toml
Due: none

0.4.1
  libs/messaging/pyproject.toml
  pyproject.toml
  services/api-gateway/pyproject.toml
  services/audio-classifier/pyproject.toml
  services/audio-producer/pyproject.toml
  services/data-sweeper/pyproject.toml
  services/health-watchdog/pyproject.toml
  services/identifier/pyproject.toml
  services/stt-provider/pyproject.toml
Due: none

chore: corrected pytest.ini to generate code coverage report so that code coverage upload will succeed.
  pytest.ini
  uv.lock
Due: none

docs(design_v8): updated documentation to reflect new durable stream and pre-roll audio design changes
  CONTRIBUTING.md
  GEMINI.md
  README.md
  ROADMAP.md
  docs/20_architecture/adrs/0004-deepgram-selection.md
  docs/20_architecture/architecture_definition.md
  docs/20_architecture/hsi.md
  docs/20_architecture/system_design_v7.3.md
  docs/20_architecture/system_design_v8.0.md
  docs/20_architecture/threat_model.md
  docs/30_data/biometric_policy.md
  docs/30_data/data_dictionary.md
  docs/30_data/erd.md
  docs/40_hardware/assembly_guide.md
  docs/40_hardware/environmental_constraints.md
  docs/50_qa/performance_benchmarks.md
  docs/60_ops/cicd.md
  docs/60_ops/deployment_checklist.md
  docs/60_ops/nats_tooling.md
  docs/60_ops/runbooks.md
  docs/90_optional/glossary.md
  docs/api.md
  docs/index.md
  docs/quickstart.md
  services/api-gateway/README.md
  services/stt-provider/README.md
  tests/integration/README.md
Due: check-adr-in-mkdocs

chore: cleaned up unnecessary files in the root of the project
  00_project_context.md
  Dockerfile
  GEMINI-TASKS.md
  TODO.md
  prepare-commit-msg.py
  uv.lock
Due: mypy

feat(stt-provider): implement v8.0 dual pipeline and shared streams
  docs/20_architecture/system_design_v8.0.md
  libs/messaging/src/messaging/nats.py
  libs/messaging/src/messaging/service.py
  libs/messaging/src/messaging/streams.py
  pyproject.toml
  services/audio-producer/src/audio_producer/main.py
  services/audio-producer/tests/mocks.py
  services/audio-producer/tests/test_audioproducer.py
  services/audio-producer/tests/test_integration.py
  services/stt-provider/src/stt_provider/main.py
  services/stt-provider/src/stt_provider/service.py
  services/stt-provider/tests/mocks.py
  services/stt-provider/tests/test_service.py
  services/stt-provider/tests/test_stt_provider.py
  test_debug.txt
  test_output.txt
Due: mypy

test(stt-provider): add error handling and adapter tests
  services/stt-provider/tests/test_deepgram_adapter.py
  services/stt-provider/tests/test_stt_error_handling.py
Due: mypy

test(api-gateway): add error handling unit tests
  services/api-gateway/src/api_gateway/main.py
  services/api-gateway/tests/test_api_error_handling.py
  services/api-gateway/tests/test_integration.py
  services/api-gateway/tests/test_main.py
Due: mypy

chore: finalize branch changes (bypass hooks)
  libs/messaging/src/messaging/streams.py
  services/api-gateway/src/api_gateway/main.py
  services/audio-producer/src/audio_producer/audiosource.py
  services/audio-producer/src/audio_producer/main.py
  services/stt-provider/src/stt_provider/deepgram_adapter.py
  services/stt-provider/src/stt_provider/main.py
Due: mypy
