Repository TomDakan/LiveSTT: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, check-adr-in-mkdocs

mypy:
  name: mypy
  entry: uv run scripts/type_check.py
  language: system
  pass_filenames: false

check-adr-in-mkdocs:
  name: Check ADRs are in mkdocs.yml
  entry: python scripts/check-adr-in-mkdocs.py
  language: system
  pass_filenames: false

fix(messaging): add missing return type annotations to BaseService
  libs/messaging/src/messaging/service.py
Due: mypy

fix(qa): resolve mypy type errors and update stale imports for NATS migration
  services/api-gateway/src/api_gateway/main.py
  services/api-gateway/tests/test_main.py
  services/audio-producer/src/audio_producer/main.py
  services/stt-provider/src/stt_provider/main.py
  tests/integration/test_e2e.py
Due: mypy

docs(implementation_guides): archive completed implementation guides
  docs/implementation_guides/02_nats_publisher.md
  docs/implementation_guides/04_stt_provider.md
Due: none

feat(stt-provider): implement v8.0 dual pipeline and shared streams
  docs/20_architecture/system_design_v8.0.md
  libs/messaging/src/messaging/nats.py
  libs/messaging/src/messaging/service.py
  libs/messaging/src/messaging/streams.py
  pyproject.toml
  services/audio-producer/src/audio_producer/main.py
  services/audio-producer/tests/mocks.py
  services/audio-producer/tests/test_audioproducer.py
  services/audio-producer/tests/test_integration.py
  services/stt-provider/src/stt_provider/main.py
  services/stt-provider/src/stt_provider/service.py
  services/stt-provider/tests/mocks.py
  services/stt-provider/tests/test_service.py
  services/stt-provider/tests/test_stt_provider.py
  test_debug.txt
  test_output.txt
Due: mypy

chore: cleaned up unnecessary files in the root of the project
  00_project_context.md
  Dockerfile
  GEMINI-TASKS.md
  TODO.md
  prepare-commit-msg.py
  uv.lock
Due: mypy

docs(design_v8): updated documentation to reflect new durable stream and pre-roll audio design changes
  CONTRIBUTING.md
  GEMINI.md
  README.md
  ROADMAP.md
  docs/20_architecture/adrs/0004-deepgram-selection.md
  docs/20_architecture/architecture_definition.md
  docs/20_architecture/hsi.md
  docs/20_architecture/system_design_v7.3.md
  docs/20_architecture/system_design_v8.0.md
  docs/20_architecture/threat_model.md
  docs/30_data/biometric_policy.md
  docs/30_data/data_dictionary.md
  docs/30_data/erd.md
  docs/40_hardware/assembly_guide.md
  docs/40_hardware/environmental_constraints.md
  docs/50_qa/performance_benchmarks.md
  docs/60_ops/cicd.md
  docs/60_ops/deployment_checklist.md
  docs/60_ops/nats_tooling.md
  docs/60_ops/runbooks.md
  docs/90_optional/glossary.md
  docs/api.md
  docs/index.md
  docs/quickstart.md
  services/api-gateway/README.md
  services/stt-provider/README.md
  tests/integration/README.md
Due: check-adr-in-mkdocs

0.5.0
  libs/messaging/pyproject.toml
  pyproject.toml
  services/api-gateway/pyproject.toml
  services/audio-classifier/pyproject.toml
  services/audio-producer/pyproject.toml
  services/data-sweeper/pyproject.toml
  services/health-watchdog/pyproject.toml
  services/identifier/pyproject.toml
  services/stt-provider/pyproject.toml
Due: none

chore: fix lint, migrate mypy config, update tests for v8.0 API
  docs/implementation_guides/00_workflow.md
  libs/messaging/src/messaging/service.py
  mypy.ini
  pyproject.toml
  services/api-gateway/src/api_gateway/main.py
  services/api-gateway/tests/test_main.py
  services/audio-producer/src/audio_producer/audiosource.py
  services/audio-producer/src/audio_producer/main.py
  services/stt-provider/src/stt_provider/main.py
  services/stt-provider/tests/test_stt_provider.py
  tests/integration/test_e2e.py
Due: mypy

docs: update roadmap and system design to reflect v8.0 implementation status
  ROADMAP.md
  docs/20_architecture/system_design_v8.0.md
Due: none

fix(type checking) remove unnecessary type: ignore.
  services/stt-provider/src/stt_provider/main.py
Due: mypy

ci: consolidate QA suite on Python 3.12
  .github/workflows/main.yaml
  .safety-project.ini
Due: none

feat(v8.0): complete service refactor and ci streamlining
  .github/workflows/main.yaml
  .safety-project.ini
  ROADMAP.md
  docs/20_architecture/system_design_v8.0.md
  docs/implementation_guides/00_workflow.md
  libs/messaging/src/messaging/service.py
  libs/messaging/src/messaging/streams.py
  mypy.ini
  pyproject.toml
  services/api-gateway/src/api_gateway/main.py
  services/api-gateway/tests/test_main.py
  services/audio-producer/src/audio_producer/audiosource.py
  services/audio-producer/src/audio_producer/main.py
  services/stt-provider/src/stt_provider/deepgram_adapter.py
  services/stt-provider/src/stt_provider/main.py
  services/stt-provider/tests/test_stt_provider.py
  tests/integration/test_e2e.py
  uv.lock
Due: mypy

0.6.0
  libs/messaging/pyproject.toml
  pyproject.toml
  services/api-gateway/pyproject.toml
  services/audio-classifier/pyproject.toml
  services/audio-producer/pyproject.toml
  services/data-sweeper/pyproject.toml
  services/health-watchdog/pyproject.toml
  services/identifier/pyproject.toml
  services/stt-provider/pyproject.toml
Due: none

chore: corrected pytest.ini to generate code coverage report so that code coverage upload will succeed.
  uv.lock
Due: none

test(stt-provider): add error handling and adapter tests
  services/stt-provider/tests/test_deepgram_adapter.py
  services/stt-provider/tests/test_stt_error_handling.py
Due: mypy

chore: finalize branch changes (bypass hooks)
  services/api-gateway/src/api_gateway/main.py
  services/stt-provider/src/stt_provider/main.py
Due: mypy

feat(audio-classifier): implement initial service with OpenVINO support
  libs/messaging/src/messaging/streams.py
  pyproject.toml
  services/audio-classifier/pyproject.toml
  services/audio-classifier/src/audio_classifier/classifiers.py
  services/audio-classifier/src/audio_classifier/interfaces.py
  services/audio-classifier/src/audio_classifier/main.py
  services/audio-classifier/tests/conftest.py
  services/audio-classifier/tests/test_classifiers.py
  services/audio-classifier/tests/test_service.py
  test_output.txt
Due: mypy

fix(qa): resolve lint and formatting issues
  services/api-gateway/src/api_gateway/main.py
  services/audio-classifier/src/audio_classifier/classifiers.py
  services/audio-classifier/src/audio_classifier/interfaces.py
  services/audio-classifier/src/audio_classifier/main.py
  services/audio-classifier/tests/conftest.py
  services/audio-classifier/tests/test_classifiers.py
  services/audio-classifier/tests/test_service.py
  services/audio-producer/src/audio_producer/audiosource.py
  services/audio-producer/src/audio_producer/main.py
  services/stt-provider/src/stt_provider/main.py
  uv.lock
Due: mypy

refactor(messaging): add strict type annotations to BaseService
  libs/messaging/src/messaging/service.py
Due: mypy

refactor(audio-producer): add strict type annotations to service and tests
  services/audio-producer/tests/test_audioproducer.py
Due: mypy

test(api-gateway): refactor websocket endpoint test for proper lifespan mocking
  services/api-gateway/tests/test_main.py
Due: mypy

test(audio-classifier): add type annotations and improve mock assertions
  services/audio-classifier/tests/conftest.py
  services/audio-classifier/tests/test_classifiers.py
  services/audio-classifier/tests/test_service.py
Due: mypy

test(api-gateway): add error handling unit tests
  services/api-gateway/src/api_gateway/main.py
  services/api-gateway/tests/test_api_error_handling.py
  services/api-gateway/tests/test_integration.py
  services/api-gateway/tests/test_main.py
Due: mypy

feat: implement identifier/identity-manager services and refine E2E tests for v8.0
  pyproject.toml
  services/api-gateway/tests/test_api_error_handling.py
  services/api-gateway/tests/test_main.py
  services/identifier/pyproject.toml
  services/identifier/src/identifier/main.py
  tests/integration/test_e2e.py
  uv.lock
Due: mypy

feat: add identity-manager service files
  services/identity-manager/pyproject.toml
  services/identity-manager/src/identity_manager/__init__.py
  services/identity-manager/src/identity_manager/main.py
Due: mypy

feat(nats): consolidate v8.0 architecture utility services and fix e2e tests
  lint_output.txt
  out.txt
  pyproject.toml
  services/api-gateway/tests/test_api_error_handling.py
  services/api-gateway/tests/test_main.py
  services/data-sweeper/pyproject.toml
  services/data-sweeper/src/data_sweeper/main.py
  services/health-watchdog/pyproject.toml
  services/health-watchdog/src/health_watchdog/main.py
  services/identifier/src/identifier/main.py
  services/identity-manager/src/identity_manager/main.py
  services/stt-provider/tests/test_stt_provider.py
  test_output.txt
  tests/integration/test_e2e.py
  uv.lock
Due: mypy

chore(qa): simplify bandit config and resolve all remaining security/lint failures
  justfile
  libs/messaging/src/messaging/service.py
  pyproject.toml
  services/api-gateway/src/api_gateway/main.py
  services/api-gateway/tests/test_api_error_handling.py
  services/api-gateway/tests/test_main.py
  tests/integration/test_e2e.py
Due: mypy

chore(deps): add missing services to uv workspace sources
  pyproject.toml
Due: none

chore(deps): add missing services to dev dependency group
  pyproject.toml
  test_output.txt
  uv.lock
Due: none

Path conditions:
  mypy: any of: \.py$
  check-adr-in-mkdocs: any of: ^(docs/20_architecture/adrs/.*\.md|mkdocs\.yml)$
